<html>
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Quicksand|Rubik+Mono+One" rel="stylesheet">
  <link rel="stylesheet" href="../assets/stylesheets/coaching.scss">
  <title>stupid coach</title>
</head>
<body>
  <div class="container">
  <h1>ask me anything</h1>
  <form action="/answer">
    <label for="question">Speak to your coach</label>
    <br>
    <input type="text" id="question" name="query" placeholder="what time is it?">
    <br>
    <input type="submit" value="Go on!">
</form>
  </div>
</body>
</html>







